<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Angelic Mirrors - Admin</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- favicon -->
    <link rel="shortcut icon" type="image/png" href="/assets/img/favicon.png">
    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="/assetsAdmin/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="/public/assetsAdmin/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="/assetsAdmin/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="/assetsAdmin/css/style.css" rel="stylesheet">


    <style>
        .content-border {
            border: 2px solid black;
            width: 70%;
            height: fit-content;
            margin-left: 10%;
            margin-top: 5%;
            margin-bottom: 5%;
        }

        h4 {
            font-weight: bold;
            font-size: large;
            margin-top: 3%;
            margin-left: 3%;
            text-decoration: underline;
        }

        h6 {
            font-weight: bold;
            font-size: large;
            margin-top: 3%;
            margin-left: 3%;
            text-decoration: underline;
        }

        p {
            color: black;
            font-weight: 200;
            margin-left: 8%;
            margin-top: 0%;
            margin-bottom: 0%;
        }

        .image {
            position: absolute;
            top: -9%;
            right: 0;
            margin-top: 0;
            margin-right: 20%;
            transform: translateY(35%);
        }


        .image-container {
            border: 2px solid black;
            display: inline-block;
            margin-bottom: 20px;
        }
    </style>
</head>

<body>
    <div class="container-xxl position-relative bg-white d-flex p-0">

        <!-- Sidebar Start -->
        <div class="sidebar pe-4 pb-3">
            <nav class="navbar bg-light navbar-light">
                <a href="index.html" class="navbar-brand mx-4 mb-3">
                    <h3 class="text-dark">Order <br> Details</h3>
                </a>

                <div class="navbar-nav w-100">
                    <a href="/admin/adminDashboard" class="nav-item nav-link"><i
                            class="fa fa-tachometer-alt me-2"></i>Dashboard</a>
                    <a href="/admin/userManagement" class="nav-link"><i class="bi bi-people-fill"></i>User <span
                            style="margin-left: 25%;">
                            Management</span></a>
                    <a href="/admin/productManagement" class="nav-item nav-link"><i class="bi bi-bag-fill"></i>Product
                        <span style="margin-left: 25%;"> Management</span></a>
                    <a href="/admin/categoryManagement" class="nav-item nav-link"><i
                            class="bi bi-bookmark-check-fill"></i>Category
                        <span style="margin-left: 25%;"> Management</span></a>
                    <a href="/admin/orderManagement" class="nav-item nav-link active"><i
                            class="bi bi-card-checklist"></i>Order <span style="margin-left: 25%;">
                            Management</span></a>
                    <a href="/admin/couponManagement" class="nav-item nav-link"><i
                            class="bi bi-credit-card-fill"></i>Coupon <span style="margin-left: 25%;">
                            Management</span></a>
                    <a href="/admin/offerManagement" class="nav-item nav-link "><i class="bi bi-percent"></i>Offer <span
                            style="margin-left: 25%;">
                            Management</span></a>
                    <a href="/admin/salesReport" class="nav-item nav-link"><i
                            class="bi bi-bar-chart-line-fill"></i>Sales
                        Report</a>
                    <!-- <a href="chart.html" class="nav-item nav-link"><i class="fa fa-chart-bar me-2"></i>Banner <span
                                style="margin-left: 25%;"> Management</span></a> -->

                </div>
            </nav>
        </div>
        <!-- Sidebar End -->


        <!-- Content Start -->
        <div class="content">
            <!-- Navbar Start -->
            <nav class="navbar navbar-expand bg-light navbar-light sticky-top px-4 py-0">

                <!-- <form class="d-none d-md-flex ms-4">
                    <input class="form-control border-0" type="search" placeholder="Search">
                </form>  -->
                <div class="navbar-nav align-items-center ms-auto">

                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-person-bounding-box" viewBox="0 0 16 16">
                                <path
                                    d="M1.5 1a.5.5 0 0 0-.5.5v3a.5.5 0 0 1-1 0v-3A1.5 1.5 0 0 1 1.5 0h3a.5.5 0 0 1 0 1zM11 .5a.5.5 0 0 1 .5-.5h3A1.5 1.5 0 0 1 16 1.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 1-.5-.5M.5 11a.5.5 0 0 1 .5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 1 0 1h-3A1.5 1.5 0 0 1 0 14.5v-3a.5.5 0 0 1 .5-.5m15 0a.5.5 0 0 1 .5.5v3a1.5 1.5 0 0 1-1.5 1.5h-3a.5.5 0 0 1 0-1h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 1 .5-.5" />
                                <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm8-9a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
                            </svg>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end bg-light border-0 rounded-0 rounded-bottom m-0">

                            <a href="/admin/adminLogout" class="dropdown-item">Log Out</a>
                        </div>
                    </div>
                </div>
            </nav>
            <!-- Navbar End -->

            <!-- table start -->
            <div class="content-border">
                <p style=" margin-top: 1%;"> <b style="font-weight: bold; margin-left: -6%;">User :</b>
                    <%=order.userId.username %>
                </p>
                <% order.products.forEach(product=> { %>
                    <div class="order-details">
                        <h4>
                            <%= product.product.product_name %>
                        </h4>
                        <p>Price :
                            <%= product.product.product_price %>
                        </p>
                        <p>Quantity :
                            <%= product.quantity %>
                        </p>
                        <p>Total Price :
                            <% let cartTotal=0; %>
                                <% const total=product.product.product_price * product.quantity;%>
                                    <span class="product-total">
                                        <%= total %>
                                    </span>
                                    <% cartTotal +=total; %>
                        </p>
                    </div>
                    <% }) %>
                        <h6>Order Details</h6>
                        <div class="common-details">
                            <p>Order Date :
                                <% if (order.orderDate) { %>
                                    <%= order.orderDate.toLocaleDateString() %>
                                        <% } else { %>
                                            Date Not Available
                                            <% } %>
                            </p>
                            <p>Order Status :
                                <%= order.status %>
                            </p>
                            <p>Payment Method :
                                <%= order.paymentMethod %>
                            </p>
                            <p>Sub Total :
                                <% let subtotal=0; %>
                                    <% order.products.forEach((product)=> { %>
                                        <% const productTotal=product.product.product_price * product.quantity; %>
                                            <% subtotal +=productTotal; %>
                                                <% }); %>
                                                    Rs. <%= subtotal %>
                            </p>
                            <p>Amount to be paid :
                                <% const shippingCost=100; %>
                                    Rs. <%= subtotal + shippingCost %>
                            </p>
                            <p>Address :
                                <% if (order && order.shippingAddress) { %>
                                    <div class="shipping-address">
                                        <p>
                                            <%= order.shippingAddress.name %>
                                        </p>
                                        <p>
                                            <%= order.shippingAddress.address %>, <%= order.shippingAddress.district %>,
                                                    <%= order.shippingAddress.state %>, <%=
                                                            order.shippingAddress.country %>
                                        </p>
                                        <p>
                                            <%= order.shippingAddress.pincode %>
                                        </p>
                                        <p>
                                            <%= order.shippingAddress.phone %>
                                        </p>
                                    </div>
                                    <% } else { %>
                                        <p>Shipping Address Not Available</p>
                                        <% } %>

                            </p>


                        </div>
                        <div class="image" style="margin-top: 10%;">
                            <% order.products.forEach(product=> { %>
                                <div class="image-container">
                                    <img src="/image/<%= product?.product.product_image[0] %>" style="height: 100px;">
                                </div>
                                <br>

                                <% }) %>
                        </div>


            </div>
            <!-- table end -->


            <!-- Footer Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="bg-light rounded-top p-4">
                    <div class="row">
                        <div class="col-12 col-sm-6 text-center text-sm-start">
                            &copy; <a href="#">Angelic Mirrors</a>, All Right Reserved.
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer End -->
        </div>
        <!-- Content End -->


        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>

    <script>
        function validateForm() {
            document.getElementById('nameError').textContent = ""
            document.getElementById('descriptionError').textContent = ""

            var categoryName = document.getElementById('categoryName').value.trim()
            var categoryDescription = document.getElementById('categoryDescription').value.trim()

            // Regular expression to check if the product name contains only letters
            var lettersOnly = /^[a-zA-Z\s]+$/;

            if (categoryName === "") {
                document.getElementById('nameError').textContent = "Category Name required"
                return false
            }

            if (!categoryName.match(lettersOnly)) {
                document.getElementById('nameError').textContent = "Category name should contain only letters";
                return false;
            }

            if (categoryDescription === "") {
                document.getElementById('descriptionError').textContent = "Category Description required"
                return false
            }

            return true
        }
    </script>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="lib/chart/chart.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="lib/tempusdominus/js/moment.min.js"></script>
    <script src="lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>
</body>

</html>