<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
        content="Responsive Bootstrap4 Shop Template, Created by Imran Hossain from https://imransdesign.com/">

    <!-- title -->
    <title>Order Confirm</title>


    <style>
        .order-list {
            margin-top: -15%;
            margin-bottom: 3%;
            text-align: center;
            text-decoration: underline;
        }

        .content-border {
            border: 2px solid black;
            width: 70%;
            height: fit-content;
            margin-left: 10%;
            margin-top: 5%;
            margin-bottom: 5%;
        }

        .h4-element {
            font-weight: bold;
            font-size: large;
            margin-top: 3%;
            margin-left: 3%;
            text-decoration: underline;
        }

        .p-element {
            color: black;
            font-weight: 400;
            margin-left: 8%;
            margin-top: 0%;
            margin-bottom: 0%;
        }

        .h6-element {
            font-weight: bold;
            font-size: large;
            margin-top: 3%;
            margin-left: 3%;
            text-decoration: underline;
        }

        .image {
            position: absolute;
            top: -9%;
            right: 0;
            margin-top: 0;
            margin-right: 25%;
            transform: translateY(90%);
        }


        .image-container {
            border: 2px solid black;
            display: inline-block;
            margin-bottom: 20px;
        }

        .invoice {
            margin-left: 70%;
            margin-top: 5%;
        }
    </style>

    <!-- google font -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
    <!-- fontawesome -->
    <link rel="stylesheet" href="/assets/css/all.min.css">
    <!-- bootstrap -->
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <!-- owl carousel -->
    <link rel="stylesheet" href="/assets/css/owl.carousel.css">
    <!-- magnific popup -->
    <link rel="stylesheet" href="/assets/css/magnific-popup.css">
    <!-- animate css -->
    <link rel="stylesheet" href="/assets/css/animate.css">
    <!-- mean menu css -->
    <link rel="stylesheet" href="/assets/css/meanmenu.min.css">
    <!-- main style -->
    <link rel="stylesheet" href="/assets/css/main.css">
    <!-- responsive -->
    <link rel="stylesheet" href="/assets/css/responsive.css">

</head>

<body>

    <!--PreLoader-->
    <div class="loader">
        <div class="loader-inner">
            <div class="circle"></div>
        </div>
    </div>
    <!--PreLoader Ends-->

    <!-- header -->
    <div class="top-header-area" id="sticker">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-sm-12 text-center">
                    <div class="main-menu-wrap">
                        <!-- logo -->
                        <div class="site-logo">
                            <a href="/user/home">
                                <img src="/image/logo.png" alt="">
                            </a>
                        </div>
                        <!-- logo -->

                        <!-- menu start -->
                        <nav class="main-menu">
                            <ul>
                                <li class="current-list-item"><a href="/">Home</a>
                                </li>
                                <!-- <li><a href="about.html">About</a></li>
                                <li><a href="#">Pages</a>
                                    <ul class="sub-menu">
                                        <li><a href="404.html">404 page</a></li>
										<li><a href="about.html">About</a></li>
										<li><a href="cart.html">Cart</a></li>
										<li><a href="checkout.html">Check Out</a></li>
										<li><a href="contact.html">Contact</a></li>
										<li><a href="news.html">News</a></li>
                                        <li><a href="/user/shop.ejs">Shop</a></li>
                                    </ul>
                                </li> -->
                                <li><a href="/shop">Shop</a>

                                <li>
                                    <div class="header-icons">
                                        <a href="/wishlist"><svg xmlns="http://www.w3.org/2000/svg" width="16"
                                                height="16" fill="currentColor" class="bi bi-balloon-heart"
                                                viewBox="0 0 16 16">
                                                <path fill-rule="evenodd"
                                                    d="m8 2.42-.717-.737c-1.13-1.161-3.243-.777-4.01.72-.35.685-.451 1.707.236 3.062C4.16 6.753 5.52 8.32 8 10.042c2.479-1.723 3.839-3.29 4.491-4.577.687-1.355.587-2.377.236-3.061-.767-1.498-2.88-1.882-4.01-.721zm-.49 8.5c-10.78-7.44-3-13.155.359-10.063q.068.062.132.129.065-.067.132-.129c3.36-3.092 11.137 2.624.357 10.063l.235.468a.25.25 0 1 1-.448.224l-.008-.017c.008.11.02.202.037.29.054.27.161.488.419 1.003.288.578.235 1.15.076 1.629-.157.469-.422.867-.588 1.115l-.004.007a.25.25 0 1 1-.416-.278c.168-.252.4-.6.533-1.003.133-.396.163-.824-.049-1.246l-.013-.028c-.24-.48-.38-.758-.448-1.102a3 3 0 0 1-.052-.45l-.04.08a.25.25 0 1 1-.447-.224l.235-.468ZM6.013 2.06c-.649-.18-1.483.083-1.85.798-.131.258-.245.689-.08 1.335.063.244.414.198.487-.043.21-.697.627-1.447 1.359-1.692.217-.073.304-.337.084-.398" />
                                            </svg></a>

                                        <a class="shopping-cart" href="/cart"><i class="fas fa-shopping-cart"></i></a>
                                        <!-- <a class="mobile-hide search-bar-icon" href="#"><i
												class="fas fa-search"></i></a> -->

                                        <a href="/profile">
                                            <% if(loggedIn){%>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                    fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                                                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
                                                    <path fill-rule="evenodd"
                                                        d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1" />
                                                </svg>
                                                <%}%>
                                        </a>

                                        <a href="/myOrders">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                fill="currentColor" class="bi bi-truck" viewBox="0 0 16 16">
                                                <path
                                                    d="M0 3.5A1.5 1.5 0 0 1 1.5 2h9A1.5 1.5 0 0 1 12 3.5V5h1.02a1.5 1.5 0 0 1 1.17.563l1.481 1.85a1.5 1.5 0 0 1 .329.938V10.5a1.5 1.5 0 0 1-1.5 1.5H14a2 2 0 1 1-4 0H5a2 2 0 1 1-3.998-.085A1.5 1.5 0 0 1 0 10.5zm1.294 7.456A2 2 0 0 1 4.732 11h5.536a2 2 0 0 1 .732-.732V3.5a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5v7a.5.5 0 0 0 .294.456M12 10a2 2 0 0 1 1.732 1h.768a.5.5 0 0 0 .5-.5V8.35a.5.5 0 0 0-.11-.312l-1.48-1.85A.5.5 0 0 0 13.02 6H12zm-9 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2m9 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2" />
                                            </svg>
                                        </a>

                                        <a href="/logout">
                                            <% if(loggedIn){%>

                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                    fill="currentColor" class="bi bi-box-arrow-right"
                                                    viewBox="0 0 16 16" style="color: white;">
                                                    <path fill-rule="evenodd"
                                                        d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0z" />
                                                    <path fill-rule="evenodd"
                                                        d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708z" />
                                                </svg>

                                                <%}%>


                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </nav>
                        <a class="mobile-show search-bar-icon" href="#"><i class="fas fa-search"></i></a>
                        <div class="mobile-menu"></div>
                        <!-- menu end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end header -->

    <!-- breadcrumb-section -->
    <div class="breadcrumb-section breadcrumb-bg">
        <div class="container">
        </div>
    </div>
    <!-- end breadcrumb section -->

    <!-- Order detail start -->
    <div class="order-list">
        <h3 class="orderhead" style="margin-top: 5%;">Order Details</h3>
    </div>

    <div class="content-border">
        <% order.products.forEach(product=> { %>
            <% if(order.status==="Delivered" ){ %>
                <a href="/invoiceDownload/<%= order._id %>">
                    <button class="invoice"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                            fill="currentColor" class="bi bi-cloud-download" viewBox="0 0 16 16">
                            <path
                                d="M4.406 1.342A5.53 5.53 0 0 1 8 0c2.69 0 4.923 2 5.166 4.579C14.758 4.804 16 6.137 16 7.773 16 9.569 14.502 11 12.687 11H10a.5.5 0 0 1 0-1h2.688C13.979 10 15 8.988 15 7.773c0-1.216-1.02-2.228-2.313-2.228h-.5v-.5C12.188 2.825 10.328 1 8 1a4.53 4.53 0 0 0-2.941 1.1c-.757.652-1.153 1.438-1.153 2.055v.448l-.445.049C2.064 4.805 1 5.952 1 7.318 1 8.785 2.23 10 3.781 10H6a.5.5 0 0 1 0 1H3.781C1.708 11 0 9.366 0 7.318c0-1.763 1.266-3.223 2.942-3.593.143-.863.698-1.723 1.464-2.383" />
                            <path
                                d="M7.646 15.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 14.293V5.5a.5.5 0 0 0-1 0v8.793l-2.146-2.147a.5.5 0 0 0-.708.708z" />
                        </svg> Download Invoice</button>
                </a>
                <%}%>
                    <div class="order-details">
                        <h4 class="h4-element">
                            <%= product.product.product_name %>
                        </h4>
                        <p class="p-element">Price :
                            <% if (product.offerPrice !==null) { %>
                                <span> Rs.<%= product.product.discount_Amount %>
                                </span>
                                <% } else { %>
                                    <span>Rs.<%= product.product.product_price %>
                                    </span>
                                    <% } %>
                        </p>
                        <p class="p-element">Quantity :
                            <%= product.quantity %>
                        </p>
                        <p class="p-element" style="margin-left: 8%;">Total Price :
                            <% if (product.offerPrice !==null) { %>
                                <% let cartTotal=0; %>
                                    <% const total=product.product.discount_Amount * product.quantity;%>
                                        <span class="product-total">
                                            <%= total %>
                                        </span>
                                        <% cartTotal +=total; %>
                                            <% } else { %>
                                                <% let cartTotal=0; %>
                                                    <% const total=product.product.product_price * product.quantity;%>
                                                        <span class="product-total">
                                                            <%= total %>
                                                        </span>
                                                        <% cartTotal +=total; %>
                                                            <% } %>
                        </p>
                    </div>
                    <% }) %>
                        <h6 class="h6-element">Order Details</h6>
                        <div class="common-details">
                            <p class="p-element">Order Date :
                                <% if (order.orderDate) { %>
                                    <%= order.orderDate.toLocaleDateString() %>
                                        <% } else { %>
                                            Date Not Available
                                            <% } %>
                            </p>
                            <p class="p-element">Expected Date :
                                <% if(order.orderDate) { %>
                                    <% const deliveryDurationInDays=7; %>
                                        <% const orderDate=new Date(order.orderDate); %>
                                            <% const expectedDeliveryDate=new Date(orderDate.getTime() +
                                                deliveryDurationInDays * 24 * 60 * 60 * 1000); %>
                                                <%= expectedDeliveryDate.toLocaleDateString() %>
                                                    <% } %>
                            </p>
                            <p class="p-element">Order Status :
                                <%= order.status %>
                            </p>
                            <p class="p-element">Payment Method :
                                <%= order.paymentMethod %>
                            </p>
                            <p class="p-element">Payment Status :
                                <% if (order.paymentMethod==='Online' ) { %>
                                    Paid
                                    <% } else { %>
                                        <%= order.paymentStatus %>
                                            <% } %>
                            </p>
                            <p class="p-element">Sub Total:
                                <% let subtotal=0; %>
                                    <% order.products.forEach((product)=> { %>
                                        <% const productTotal=(product.offerPrice !==null) ?
                                            product.product.discount_Amount : product.product.product_price; %>
                                            <% subtotal +=productTotal * product.quantity; %>
                                                <% }); %>
                                                    Rs. <%= subtotal %>
                            </p>
                            <p class="p-element">Amount to be paid :
                                <% const shippingCost=100; %>
                                    Rs. <%= subtotal + shippingCost %>
                            </p>
                            <p class="p-element">Address :
                                <% if (order && order.shippingAddress) { %>
                                    <div class="shipping-address">
                                        <p class="p-element">
                                            <%= order.shippingAddress.name %>
                                        </p>
                                        <p class="p-element">
                                            <%= order.shippingAddress.address %>,<%= order.shippingAddress.street %>,
                                                    <%= order.shippingAddress.district %>,
                                                        <%= order.shippingAddress.state %>, <%=
                                                                order.shippingAddress.country %>
                                        </p>
                                        <p class="p-element">
                                            <%= order.shippingAddress.pincode %>
                                        </p>
                                        <p class="p-element" style="margin-left: 8%;">
                                            <%= order.shippingAddress.phone %>
                                        </p>
                                    </div>
                                    <% } else { %>
                                        <p class="p-element">Shipping Address Not Available</p>
                                        <% } %>

                            </p>


                        </div>

                        <a href="/shop" style="margin-left: 39%; text-decoration: underline;">Continue Shopping<svg
                                xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-arrow-right" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                    d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8" />
                            </svg></a>

    </div>
    <!-- order detail end -->


    <!-- footer -->
    <div class="footer-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="footer-box about-widget">
                        <h2 class="widget-title">About us</h2>
                        <p>Discover the
                            Reflection of Perfection:
                            Collect Your Favourite
                            Mirrors Right Here!</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="footer-box get-in-touch">
                        <h2 class="widget-title">Get in Touch</h2>
                        <ul>
                            <li>angelicmirrors@gmail.com</li>
                            <li>+00 111 222 3333</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="footer-box pages">
                        <h2 class="widget-title">Pages</h2>
                        <ul>
                            <li><a href="index.html">Home</a></li>
                            <li><a href="about.html">About</a></li>
                            <li><a href="services.html">Shop</a></li>
                            <li><a href="news.html">News</a></li>
                            <li><a href="contact.html">Contact</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="footer-box subscribe">
                        <h2 class="widget-title">Subscribe</h2>
                        <p>Subscribe to our mailing list to get the latest updates.</p>
                        <form action="index.html">
                            <input type="email" placeholder="Email">
                            <button type="submit"><i class="fas fa-paper-plane"></i></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end footer -->

    <!-- copyright -->
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <p>Copyrights &copy; 2024 - Angelic Mirrors</a>, All Rights
                        Reserved.<br>
                    </p>
                </div>
                <div class="col-lg-6 text-right col-md-12">
                    <div class="social-icons">
                        <ul>
                            <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
                            <li><a href="#" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                            <li><a href="#" target="_blank"><i class="fab fa-dribbble"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end copyright -->

    <!-- jquery -->
    <script src="/assets/js/jquery-1.11.3.min.js"></script>
    <!-- bootstrap -->
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <!-- count down -->
    <script src="/assets/js/jquery.countdown.js"></script>
    <!-- isotope -->
    <script src="/assets/js/jquery.isotope-3.0.6.min.js"></script>
    <!-- waypoints -->
    <script src="/assets/js/waypoints.js"></script>
    <!-- owl carousel -->
    <script src="/assets/js/owl.carousel.min.js"></script>
    <!-- magnific popup -->
    <script src="/assets/js/jquery.magnific-popup.min.js"></script>
    <!-- mean menu -->
    <script src="/assets/js/jquery.meanmenu.min.js"></script>
    <!-- sticker js -->
    <script src="/assets/js/sticker.js"></script>
    <!-- main js -->
    <script src="/assets/js/main.js"></script>

</body>

</html>