<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
        content="Responsive Bootstrap4 Shop Template, Created by Imran Hossain from https://imransdesign.com/">

    <!-- title -->
    <title>Angelic Mirrors</title>

       <!-- favicon -->
	<link rel="shortcut icon" type="image/png" href="/assets/img/favicon.png">
    <!-- google font -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
    <!-- fontawesome -->
    <link rel="stylesheet" href="/assets/css/all.min.css">
    <!-- bootstrap -->
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <!-- owl carousel -->
    <link rel="stylesheet" href="/assets/css/owl.carousel.css">
    <!-- magnific popup -->
    <link rel="stylesheet" href="/assets/css/magnific-popup.css">
    <!-- animate css -->
    <link rel="stylesheet" href="/assets/css/animate.css">
    <!-- mean menu css -->
    <link rel="stylesheet" href="/assets/css/meanmenu.min.css">
    <!-- main style -->
    <link rel="stylesheet" href="/assets/css/main.css">
    <!-- responsive -->
    <link rel="stylesheet" href="/assets/css/responsive.css">


    <style>
        .breadcrumb {
            background-color: transparent;
            /* Remove background color */
            margin-bottom: -100px;

        }
    </style>

</head>

<body>

    <!-- header -->
    <div class="top-header-area" id="sticker">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-sm-12 text-center">
                    <div class="main-menu-wrap">
                        <!-- logo -->
                        <div class="site-logo">
                            <a href="/user/home">
                                <img src="/image/logo.png" alt="">
                            </a>
                        </div>
                        <!-- logo -->

                        <!-- menu start -->
                        <nav class="main-menu" style="margin-left:2% ;">
                            <ul>
                                <li class="current-list-item"><a href="/">Home</a>
                                </li>
                                <!-- <li><a href="about.html">About</a></li>
                                <li><a href="#">Pages</a>
                                    <ul class="sub-menu">
										<li><a href="404.html">404 page</a></li>
										<li><a href="about.html">About</a></li>
										<li><a href="cart.html">Cart</a></li>
										<li><a href="checkout.html">Check Out</a></li>
										<li><a href="contact.html">Contact</a></li>
										<li><a href="news.html">News</a></li>
										<li><a href="shop.html">Shop</a></li>
									</ul>
                                </li> -->

                                <!-- <li><a href="contact.html">Contact</a></li> -->
                                <li><a href="/shop">Shop</a>
                                    <!-- <ul class="sub-menu">
										<li><a href="shop.html">Shop</a></li>
										<li><a href="checkout.html">Check Out</a></li>
										<li><a href="single-product.html">Single Product</a></li>
										<li><a href="cart.html">Cart</a></li>
									</ul> -->
                                </li>
                                <li>
                                    <div class="header-icons">
                                        <!-- <a class="shopping-cart" href="cart.html"><i class="fas fa-shopping-cart"></i></a>
										<a class="mobile-hide search-bar-icon" href="#"><i class="fas fa-search"></i></a> -->
                                        <a href="/profile">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                                                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
                                                <path fill-rule="evenodd"
                                                    d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1" />
                                            </svg>
                                        </a>

                                        <a href="/logout">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16"
                                                style="color: white;">
                                                <path fill-rule="evenodd"
                                                    d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0z" />
                                                <path fill-rule="evenodd"
                                                    d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708z" />
                                            </svg>
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </nav>
                        <!-- <a class="mobile-show search-bar-icon" href="#"><i class="fas fa-search"></i></a>
						<div class="mobile-menu"></div> -->
                        <!-- menu end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end header -->

    <!-- search area -->
    <div class="search-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <span class="close-btn"><i class="fas fa-window-close"></i></span>
                    <div class="search-bar">
                        <div class="search-bar-tablecell">
                            <h3>Search For:</h3>
                            <input type="text" placeholder="Keywords">
                            <button type="submit">Search <i class="fas fa-search"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end search arewa -->

    <!-- breadcrumb-section -->
    <div class="breadcrumb-section breadcrumb-bg">
        <div class="container">
        </div>
    </div>
    <!-- end breadcrumb section -->
    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample"
        style="margin-top: -20%;">
        <div class="row">
            <div class="col">
                <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
                    <ol class="breadcrumb mb-0">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">User</a></li>
                        <li class="breadcrumb-item active" aria-current="page">User Profile</li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="card-body">
            <h3 style="text-align: center; text-decoration: underline;">Edit Address</h3>
            <div class="billing-address-form">
                <form action="/editAddress/<%= address._id %>" method="post" onsubmit="return validateForm()">
                    <p>
                        <label style="font-size: large;font-weight: 500;">Name</label>
                        <input type="text" name="name" id="name" value="<%= address.name %>">
                        <span id="nameError" style="color: red;"></span>
                    </p>
                    <p>
                        <label style="font-size: large;font-weight: 500;">Address</label>
                        <input type="text" name="address" id="address" value="<%= address.address %>">
                        <span id="addressError" style="color: red;"></span>
                    </p>
                    <p>
                        <label style="font-size: large;font-weight: 500;">Street</label>
                        <input type="text" name="street" id="street" value="<%= address.street %>">
                        <span id="streetError" style="color: red;"></span>
                    </p>
                    <p>
                        <label style="font-size: large;font-weight: 500;">City</label>
                        <input type="text" name="city" id="city" value="<%= address.city %>">
                        <span id="cityError" style="color: red;"></span>
                    </p>
                    <p>
                        <label style="font-size: large;font-weight: 500;">District</label>
                        <input type="text" name="district" id="district" value="<%= address.district %>">
                        <span id="districtError" style="color: red;"></span>
                    </p>
                    <p>
                        <label style="font-size: large;font-weight: 500;">State</label>
                        <input type="text" name="state" id="state" value="<%= address.state %>">
                        <span id="stateError" style="color: red;"></span>
                    </p>
                    <p>
                        <label style="font-size: large;font-weight: 500;">Country</label>
                        <input type="text" name="country" id="country" value="<%= address.country %>">
                        <span id="countryError" style="color: red;"></span>
                    </p>
                    <p>
                        <label style="font-size: large;font-weight: 500;">Pincode</label>
                        <input type="text" name="pincode" id="pincode" value="<%= address.pincode %>">
                        <span id="pincodeError" style="color: red;"></span>
                    </p>
                    <p>
                        <label style="font-size: large;font-weight: 500;">Phone No.</label>
                        <input type="text" name="phone" id="phone" value="<%= address.phone %>">
                        <span id="phoneError" style="color: red;"></span>
                    </p>
                    <button type="submit" class="btn btn-primary"
                        style="font-weight: bold; width: 20%;margin-left: 40%;">Edit
                        Address</button>
                </form>
            </div>
        </div>
    </div>

    <!-- footer -->
    <div class="footer-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="footer-box about-widget">
                        <h2 class="widget-title">About us</h2>
                        <p>Discover the
                            Reflection of Perfection:
                            Collect Your Favourite
                            Mirrors Right Here</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="footer-box get-in-touch">
                        <h2 class="widget-title">Get in Touch</h2>
                        <ul>
                            <li>angelicmirrors@gmail.com</li>
                            <li>+00 111 222 3333</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="footer-box pages">
                        <h2 class="widget-title">Pages</h2>
                        <ul>
                            <li><a href="index.html">Home</a></li>
                            <li><a href="about.html">About</a></li>
                            <li><a href="services.html">Shop</a></li>
                            <li><a href="news.html">News</a></li>
                            <li><a href="contact.html">Contact</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="footer-box subscribe">
                        <h2 class="widget-title">Subscribe</h2>
                        <p>Subscribe to our mailing list to get the latest updates.</p>
                        <form action="index.html">
                            <input type="email" placeholder="Email">
                            <button type="submit"><i class="fas fa-paper-plane"></i></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end footer -->

    <!-- copyright -->
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <p>Copyrights &copy; 2024 - Angelic Mirrors</a>, All Rights Reserved.<br>
                    </p>
                </div>
                <div class="col-lg-6 text-right col-md-12">
                    <div class="social-icons">
                        <ul>
                            <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
                            <li><a href="#" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                            <li><a href="#" target="_blank"><i class="fab fa-dribbble"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end copyright -->

    <script>
        function validateForm() {

            document.getElementById('nameError').textContent = "";
            document.getElementById('addressError').textContent = "";
            document.getElementById('streetError').textContent = "";
            document.getElementById('cityError').textContent = "";
            document.getElementById('districtError').textContent = "";
            document.getElementById('stateError').textContent = "";
            document.getElementById('countryError').textContent = "";
            document.getElementById('pincodeError').textContent = "";
            document.getElementById('phoneError').textContent = "";

            const name = document.getElementById("name").value.trim();
            const address = document.getElementById("address").value.trim();
            const street = document.getElementById("street").value.trim();
            const city = document.getElementById("city").value.trim();
            const district = document.getElementById("district").value.trim();
            const state = document.getElementById("state").value.trim();
            const country = document.getElementById("country").value.trim();
            const pincode = document.getElementById("pincode").value.trim();
            const phone = document.getElementById("phone").value.trim();

            if (name === "") {
                document.getElementById("nameError").textContent = "Username cannot be empty..!";
                return false;
            }

            if (name.length < 4) {
                document.getElementById("nameError").textContent = "Username should contain at least 4 characters..!";
                return false;
            }

            if (!/^[a-zA-Z ]+$/.test(name)) {
                document.getElementById("nameError").textContent = "Enter valid name..!";
                return false;
            }

            if (address === "") {
                document.getElementById("addressError").textContent = "Address cannot be empty..!";
                return false;
            }

            if (address.length < 10) {
                document.getElementById("addressError").textContent = "Address should contain at least 10 characters..!";
                return false;
            }

            if (!/^[a-zA-Z\s,'-]*$/.test(address)) {
                document.getElementById("addressError").textContent = "Enter valid address..!";
                return false;
            }

            if (street === "") {
                document.getElementById("streetError").textContent = "Street cannot be empty..!";
                return false;
            }

            if (street.length < 4) {
                document.getElementById("streetError").textContent = "Street should contain at least 4 characters..!";
                return false;
            }

            if (!/^[a-zA-Z]+$/.test(street)) {
                document.getElementById("streetError").textContent = "Enter valid street name..!";
                return false;
            }

            if (city === "") {
                document.getElementById("cityError").textContent = "City cannot be empty..!";
                return false;
            }

            if (city.length < 4) {
                document.getElementById("cityError").textContent = "City should contain at least 4 characters..!";
                return false;
            }

            if (!/^[a-zA-Z]+$/.test(city)) {
                document.getElementById("cityError").textContent = "Enter valid city name..!";
                return false;
            }

            if (district === "") {
                document.getElementById("districtError").textContent = "District cannot be empty..!";
                return false;
            }

            if (district.length < 4) {
                document.getElementById("districtError").textContent = "District should contain at least 4 characters..!";
                return false;
            }

            if (!/^[a-zA-Z]+$/.test(district)) {
                document.getElementById("districtError").textContent = "Enter valid district name..!";
                return false;
            }

            if (state === "") {
                document.getElementById("stateError").textContent = "State cannot be empty..!";
                return false;
            }

            if (state.length < 4) {
                document.getElementById("stateError").textContent = "State should contain at least 4 characters..!";
                return false;
            }

            if (!/^[a-zA-Z]+$/.test(state)) {
                document.getElementById("stateError").textContent = "Enter valid state name..!";
                return false;
            }

            if (country === "") {
                document.getElementById("countryError").textContent = "Country cannot be empty..!";
                return false;
            }

            if (country.length < 4) {
                document.getElementById("countryError").textContent = "Country should contain at least 4 characters..!";
                return false;
            }

            if (!/^[a-zA-Z]+$/.test(country)) {
                document.getElementById("countryError").textContent = "Enter valid country name..!";
                return false;
            }

            if (pincode === "") {
                document.getElementById("pincodeError").textContent = "Pincode cannot be empty..!";
                return false;
            }

            if (!/^\d{6}$/.test(pincode)) {
                document.getElementById("pincodeError").textContent = "Pincode should contain only 6 digits..!";
                return false;
            }

            if (!/^\d+$/.test(pincode)) {
                document.getElementById("pincodeError").textContent = "Pincode should contain numbers only..!";
                return false;
            }

            if (phone === "") {
                document.getElementById("phoneError").textContent = "Phone cannot be empty..!";
                return false;
            }

            if (!/^\d{10}$/.test(phone)) {
                document.getElementById("phoneError").textContent = "Phone should contain on;y 10 digits..!";
                return false;
            }

            if (!/^\d+$/.test(phone)) {
                document.getElementById("phoneError").textContent = "Phone number should contain numbers only..!";
                return false;
            }

            return true
        }
    </script>


    <!-- jquery -->
    <script src="/assets/js/jquery-1.11.3.min.js"></script>
    <!-- bootstrap -->
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <!-- count down -->
    <script src="/assets/js/jquery.countdown.js"></script>
    <!-- isotope -->
    <script src="/assets/js/jquery.isotope-3.0.6.min.js"></script>
    <!-- waypoints -->
    <script src="/assets/js/waypoints.js"></script>
    <!-- owl carousel -->
    <script src="/assets/js/owl.carousel.min.js"></script>
    <!-- magnific popup -->
    <script src="/assets/js/jquery.magnific-popup.min.js"></script>
    <!-- mean menu -->
    <script src="/assets/js/jquery.meanmenu.min.js"></script>
    <!-- sticker js -->
    <script src="/assets/js/sticker.js"></script>
    <!-- main js -->
    <script src="/assets/js/main.js"></script>

</body>

</html>